#content-box{
	margin-top: 10px;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.a-box{
	width: 70%;
}

.m-box{
	width: 70%;
	margin-left: 20px;
}

.content-box-fixed{

	position: fixed;
}